@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico|Rochester&display=swap');

body {
  margin: 0;
  background-color: #fdba9a;
  font-family: 'Pacifico', cursive;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
